/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', sans-serif; */
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.color_white{
  color: white;
}

.color_grey{
  color: #535353;
}

.vertical_align_middle{
  vertical-align: middle;
}

.padding_15{
  padding: 15px;
}

.padding_bottom_20{
  padding-bottom: 20px;
}

.img{
  width: 27px;
  height: auto;
  margin-right: 5px;
}

.font_size_16{
  font-size: 16px;
}

.bold{
  font-weight: bold;
}


/* Fixed */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: pink;
}


/* Float */
/* .main {
  height: calc(100% - 90px);
  overflow: hidden;
}
.main:after {
  content: '';
  display: table;
  clear: both;
}
.main-nav {
  float: left;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-content {
  float: left;
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
} */


/* Flex */

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 80px);
  overflow: hidden;
}
/* main nav */

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: calc(100% - 80px);
  background-color: #040404;
  padding-left: 10px;
}


.main-nav-header {
  /* background-color: purple; */
}

.logo_box{
  padding: 15px 10px;
}

.logo_box img{
  vertical-align: middle;
  color: white;
}

.main-nav-header h1{
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-size: 21px;
}

/* list_box */

.menu_box{
  margin: 10px;
}

.list_box img{
  /* width: 27px;
  height: auto;
  margin-right: 5px; */

}
.list_box a{
  text-decoration: none;
  color: #535353;
}


/* Main Nav Main*/
.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  /* background-color: lime; */
  padding-left: 10px;
  padding-top: 10px;
}

.playlist a{
  text-decoration: none;
  color: #535353;
}

.playlist li{
  font-size: 15px;
  color: #535353;
  padding-bottom: 10px;
}

.playlist li:first-child a{
  font-size: 17px;
}

.sqr_btn{
  color: white;
  font-size: 33px;
  margin: 10px 10px 10px 0;
}

/* Main-Nav Footer */
.main-nav-footer {
  /* background-color: brown; */
  height: 60px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.app_box{
  margin: 5px 0;
}

.main-nav-footer a{
  text-decoration: none;
  color: #535353;
}

.main-nav-footer img{
  width: 20px;
  /* margin-right: 5px; */
}

.main-nav-footer h5{
  display: inline-block;
}

.caracter_box img{
  width: 20px;
  margin-right: 5px;
  background-color: #535353;
  border-radius: 50%;
}

.caracter_box{
  width: 80%;
  border-top: 1px solid #535353;
}

.caracter_box h5{
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}



/* main content */
.main-content {
  width: calc(100% - 200px);
  height: 100%;
  margin-left: 200px;
  padding: 20px;
  /* background-color: #141327; */
  background-color: #0A0A17;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 200px);
  height: 90px;
  padding: 5px;
  padding-right: 35px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 15%;
  padding: 10px;
  color: white;
}

/* Main context_menu */
.context_menu{
  width: 100%;
  padding-top: 90px;
  /* background-color: lightgreen; */
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.flex-container.menu li{
  padding: 0 10px;
  /* background-color: lightpink; */
}

.flex-container.menu li a{
  font-size: 11px;
  font-weight: bold;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;

}

.title_center h2{
  font-size: 23px;
  color: white;
}

.list-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image part */
.image_box{
  /* width: 100%; */
  /* background-color: lightgrey; */
}

.image_box{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.cover{
  width: calc(100% / 6);
  margin: 10px;
}

.cover img{
  width: 100%;
}




/* footer */
.footer {
  width: 100%;
  height: 80px;
  background-color: #282828;
}

/* Media Query */
/* MD */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .flex-item{
    flex-wrap: wrap;
  }

  .image_box{
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .image_box .cover{

  }

}

/* S */
@media screen and (max-width: 768px){
  .flex-container.menu{
    flex-wrap: wrap;
  }
  .flex-container.menu li{
    flex-basis: calc(100% / 3);
  }


  .image_box{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .image_box .cover{
    width: calc(60% / 2);
  }

}

/* XS */
@media screen and (max-width: 580px){
  body{
    background-color: black;
  }

  .image_box{
    flex-wrap: wrap;
  }

  .image_box .cover{
    width: calc(60% / 2);
  }


}

@media screen and (max-width: 1110px){
  .flex-container.menu{
    flex-wrap: wrap;
  }
  .flex-container.menu li{
    flex-basis: calc(100% / 3);
  }


}
